<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <title>Login Registration</title>
    </head>
    <body>
        <h3>Register</h3>
        <form action="/register" method="POST">
            <label>First Name:<input type="text" name="first_name"></label>
            <label>Last Name:<input type="text" name="last_name"></label>
            <label>Email:<input type="text" name="email"></label>
            <label>Password:<input type="text" name="password"></label>
            <label>Password Confirmation:<input type="text" name="password_confirmation"></label>
            <input type="submit" value="Register">
        </form>
        <h3>Login</h3>
        <form action="/login" method="post">
            <label>Email:<input type="email" name="email"></label>
            <label>Password:<input type="password" name="password"></label>
            <input type="submit" value="Login">
        </form>
        <div>
            @{
                if(ViewBag.errors != null){
                    foreach(var error in ViewBag.errors){
                        <p>@error</p>
                    }
                }
            }
        </div>
    </body>
</html>
